<div class="container">
    <div class="row" style="margin-top: 5%;">
        <div class="col-12">
            <h3><b>Passwort muss geändern</b></h3>
            <hr>
        </div>
    </div>
    <div class="row" style="margin-bottom: 2%;">
        <div class="col-12">
            <input type="password" class="form-control" placeholder="Altes Passwort" [(ngModel)]="oldPassword">
        </div>
    </div>
    <div class="row" style="margin-bottom: 2%;">
        <div class="col-12">
            <input type="password" class="form-control" placeholder="Neues Passwort" [(ngModel)]="newPassword">
        </div>
    </div>
    <div class="row" style="margin-bottom: 2%;">
        <div class="col-12">
            <input type="password" class="form-control" placeholder="Neues Passwort wiederholen" [(ngModel)]="newPasswordRepeat">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary" style="background-color: #4D869C;" (click)="onChangePassword()">Passwort ändern</button>
        </div>
    </div>
</div>