<form [formGroup]="questionSearchParams" (ngSubmit)="submitSearch()">
    <div class="border border-dark p-3 mb-3">
      <div class="form-group">
        <label for="schoolType">Schulart</label>
        <select id="schoolType" class="form-select" formControlName="schoolType" (change)="onSchoolTypeChange($event)">
          <option [value]="0">Schulart</option>
          <option *ngFor="let type of schoolTypes" [value]="type.id" [disabled]="deactivateButVocationalSchool(type.id)">{{ type.description }}</option>
        </select>
      </div>
      <div class="form-group mt-3">
        <label for="schoolBranch">Beruf</label>
        <select id="schoolBranch" class="form-select" formControlName="schoolBranch">
          <option [value]="null">Beruf</option>
          <option *ngFor="let branch of schoolBranches" [value]="branch.id">{{ branch.name }}</option>
        </select>
      </div>
      <div class="form-group mt-3">
        <label for="schoolLevel">Schulstufe</label>
        <select id="schoolLevel" class="form-select" formControlName="schoolLevel">
          <option [value]="0">Schulstufe</option>
          <option *ngFor="let level of schoolLevels" [value]="level">{{ level }}. Schulstufe</option>
        </select>
      </div>
    </div>
    <div class="border border-dark p-3">
      <div class="form-group">
        <label for="subject">Fach</label>
        <select id="subject" class="form-select" (change)="onSubjectChange($event)" formControlName="subject">
          <option [value]="null">Fach</option>
          <option *ngFor="let subject of subjects" [value]="subject.id">{{ subject.name }}</option>
        </select>
      </div>
      <div class="form-group mt-3">
        <label for="chooseTopic">Thema</label>
        <select id="chooseTopic" class="form-select" formControlName="topic">
          <option [value]="null">Thema</option>
          <option *ngFor="let topic of subjectsTopics" [value]="topic.id">{{ topic.description }}</option>
        </select>
      </div>
      <div class="form-group mt-3">
        <label for="difficultyLevel">Schwierigkeitsgrad</label>
        <select id="difficultyLevel" class="form-select" formControlName="difficultyLevel">
          <option [value]="null">Schwierigkeitsgrad</option>
          <option *ngFor="let level of difficultyLevels" [value]="level.id">{{ level.description }}</option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3 w-100">Suche</button>
  </form>
  