select{
    margin-bottom: 5px;
}
.container{
    margin-left: 0 !important;
}
.sidebar {
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 0;
    width: 16%;
    background-color: #f8f9fa;
    padding: 10px;
    overflow-y: auto;
}

.content {
    margin-left: 16%;
    padding: 10px;
    /* padding-top: 56px; */
}

.circle-btn {
    display: inline-block;
    width: 40px; /* Beispiel: Breite erhöht auf 40px */
    height: 40px; /* Beispiel: Höhe erhöht auf 40px */
    background-color: #ccc;
    border-radius: 50%;
    text-align: center;
    line-height: 40px; /* Vertikal zentrieren */
}

.circle-btn i {
    color: white;
    font-size: 20px; /* Beispiel: Größe des Icons im Kreis */
}

.popup-folder-list {
  position: fixed; /* oder fixed, falls das Pop-up immer im Viewport bleiben soll */
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1000; /* Damit das Pop-up über anderen Elementen liegt */
  width: 200px; /* Passe die Breite nach Bedarf an */
}

.popup-folder-list ul {
  list-style: none;
  padding: 0;
}

.popup-folder-list ul li {
  margin: 5px 0;
}

.popup-folder-list ul li a {
  text-decoration: none;
  color: #007bff;
}

.popup-folder-list ul li a:hover {
  text-decoration: underline;
}
