<div *ngIf="showFolderList" class="popup-folder-list" [ngStyle]="{'top': popupTop, 'left': popupLeft}">
  <div class="popup-content">
    <h6 class="popup-header">In welchem Ordner speichern?</h6>
    <ul class="list-group list-group-flush">
      <li class="list-group-item list-group-item-action" 
          *ngFor="let folder of folders" 
          (click)="saveQuestion(folder.id)" 
          [ngClass]="{'disabled': folderQuestionMap[folder.id]}" 
          [style.pointerEvents]="folderQuestionMap[folder.id] ? 'none' : 'auto'">
        {{ folder.name }} <span *ngIf="folderQuestionMap[folder.id]" class="text-muted">(Bereits gespeichert)</span>
      </li>
    </ul>
  </div>
</div>
