<div class="container mt-5">
    <h2 class="text-center mb-4">Frage erstellen</h2>
    <form [formGroup]="questionCreationForm" (submit)="submitQuestionCreationForm()">
      <div class="mb-3 row">
        <label for="chooseSubject" class="col-sm-2 col-form-label">Wähle das Fach</label>
        <div class="col-sm-10">
          <select class="form-select" id="chooseSubject" formControlName="chooseSubject">
            <option value="1">Fach 1</option>
            <option value="2">Fach 2</option>
            <option value="3">Fach 3</option>
          </select>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="chooseTopic" class="col-sm-2 col-form-label">Wähle das Thema</label>
        <div class="col-sm-10">
          <select class="form-select" id="chooseTopic" formControlName="chooseTopic">
            <option value="1">Thema 1</option>
            <option value="2">Thema 2</option>
            <option value="3">Thema 3</option>
          </select>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="chooseClass" class="col-sm-2 col-form-label">Wähle die Klasse:</label>
        <div class="col-sm-10">
          <select class="form-select" id="chooseClass" formControlName="chooseClass">
            <option value="1">Klasse 1</option>
            <option value="2">Klasse 2</option>
            <option value="3">Klasse 3</option>
          </select>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="questionText" class="col-sm-2 col-form-label">Fragestellung:</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="questionText" formControlName="questionText" rows="3" placeholder="Fragestellung.." ></textarea>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="questionNote" class="col-sm-2 col-form-label">Hinweis zur Fragestellung:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="questionNote" formControlName="questionNote" placeholder="Hinweis für den Schüler.." >
        </div>
      </div>
      <div class="mb-3 row">
        <label for="answer" class="col-sm-2 col-form-label">Antwort:</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="answer" rows="3" formControlName="answer" placeholder="Antwort.."></textarea>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="answerNote" class="col-sm-2 col-form-label">Hinweis zur Antwort:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="answerNote" formControlName="answerNote" placeholder="Hinweis für den Lehrer.." >
        </div>
      </div>
      <div class="mb-3 row">
        <label for="chooseDifficulty" class="col-sm-2 col-form-label">Schwierigkeitsgrad der Frage:</label>
        <div class="col-sm-10">
          <select class="form-select" id="chooseDifficulty" formControlName="chooseDifficulty">
            <option selected>Einfach</option>
            <option value="1">Mittel</option>
            <option value="2">Schwer</option>
          </select>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="questionOnlyForMe" class="col-sm-2 col-form-label">Frage soll nur für mich gespeichert werden:</label>
        <div class="col-sm-10 d-flex align-items-center">
          <input type="checkbox" class="form-check-input ms-2" id="questionOnlyForMe" formControlName="questionOnlyForMe">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="questionIsSpecific" class="col-sm-2 col-form-label">Frage ist berufsrelevant:</label>
        <div class="col-sm-10 d-flex align-items-center">
          <input type="checkbox" class="form-check-input ms-2" id="questionIsSpecific" formControlName="questionIsSpecific">
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button type="reset" class="btn btn-secondary me-2">Discard</button>
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
  <div>

  </div>
  