<div class="container mt-3">
  <h2 class="text-center mb-2">Frage erstellen</h2>
  <h6 class="text-center">Bitte alle Felder ausfüllen</h6>
  <div class="card p-4">
    <form [formGroup]="questionCreationForm" (submit)="submitQuestionCreationForm()">
      <div class="mb-3 row">
        <div class="col-sm-4">
          <select formControlName="schoolLevel" class="form-select" data-bs-toggle="tooltip">
            <option [value]="0">Schulstufe</option>
            <option *ngFor="let level of schoolLevels" [value]="level">{{ level }}. Schulstufe</option>
          </select>
          <div *ngIf="questionCreationForm.get('schoolLevel')?.errors?.['invalidDropdown'] && questionCreationForm.get('schoolLevel')?.touched"
            class="text-danger">
            Bitte wählen Sie eine gültige Schulstufe aus.
          </div>
        </div>
        <div class="col-sm-4">
          <select id="subject" (change)="onSubjectChange($event)" formControlName="subject" class="form-select"
            data-bs-toggle="tooltip" title="Wählen Sie das Fach">
            <option [value]="0" selected>Wähle das Fach</option>
            <option *ngFor="let subject of subjects" [value]="subject.id">{{ subject.name }}</option>
          </select>
          <div *ngIf="questionCreationForm.get('subject')?.errors?.['invalidDropdown'] && questionCreationForm.get('subject')?.touched"
            class="text-danger">
            Bitte wählen Sie ein Fach aus.
          </div>
        </div>
        <div class="col-sm-4">
          <select id="chooseTopic" formControlName="topic" class="form-select" data-bs-toggle="tooltip"
            title="Wählen Sie das Thema">
            <option [value]="0" selected>Wähle das Thema</option>
            <option *ngFor="let topic of subjectsTopics" [value]="topic.id">{{ topic.description }}</option>
          </select>
          <div *ngIf="questionCreationForm.get('topic')?.errors?.['invalidDropdown'] && questionCreationForm.get('topic')?.touched"
            class="text-danger">
            Bitte wählen Sie ein Thema aus.
          </div>
        </div>
      </div>
      <div class="mb-3 row">
        <div>
          <textarea class="form-control" id="questionText" formControlName="questionText" rows="3"
            placeholder="Fragestellung.." data-bs-toggle="tooltip" title="Geben Sie die Fragestellung ein"></textarea>
          <small class="form-text text-muted">Beschreiben Sie die Frage klar und präzise</small>
          <div *ngIf="questionCreationForm.get('questionText')?.errors?.['required'] && questionCreationForm.get('questionText')?.touched"
            class="text-danger">
            Bitte geben Sie die Fragestellung ein.
          </div>
        </div>
      </div>
      <div class="mb-3 row">
        <div>
          <textarea class="form-control" id="answer" rows="3" formControlName="answer" placeholder="Antwort.."
            data-bs-toggle="tooltip" title="Geben Sie die Antwort ein"></textarea>
          <small class="form-text text-muted">Platz für Ihre Antwort</small>
          <div *ngIf="questionCreationForm.get('answer')?.errors?.['required'] && questionCreationForm.get('answer')?.touched"
            class="text-danger">
            Bitte geben Sie die Antwort ein.
          </div>
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col-sm-6">
          <select id="chooseDifficulty" formControlName="difficultyLevel" class="form-select" data-bs-toggle="tooltip"
            title="Wählen Sie den Schwierigkeitsgrad">
            <option [value]="0">Wähle den Schwierigkeitsgrad</option>
            <option *ngFor="let difficulty of difficultyLevels" [value]="difficulty.id">{{ difficulty.description }}
            </option>
          </select>
          <div *ngIf="questionCreationForm.get('difficultyLevel')?.errors?.['invalidDropdown'] && questionCreationForm.get('difficultyLevel')?.touched"
            class="text-danger">
            Bitte wählen Sie den Schwierigkeitsgrad aus.
          </div>
        </div>
        <div class="col-sm-6 d-flex align-items-center">
          <label for="questionIsPrivate" class="col-form-label me-2">Frage soll nur für mich gespeichert werden:</label>
          <div class="form-check form-switch">
            <input class="form-check-input toggle" type="checkbox" id="questionIsPrivate" formControlName="questionIsPrivate"
              data-bs-toggle="tooltip" title="Diese Frage privat speichern">
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <button type="reset" class="btn btn-secondary me-2" data-bs-toggle="tooltip">Zurücksetzen</button>
        <button type="submit" class="btn btn-primary" data-bs-toggle="tooltip">Bestätigen</button>
      </div>
    </form> <!-- Correct placement of closing tag -->
  </div>
</div>
