<div class="text-center" *ngIf="schoolLevels">
  <label >Wähle die Schulstufe</label>
 <button class="btn btn-primary m-3" (click)="onLevelClick(level)" *ngFor="let level of schoolLevels" [id]="level" >
   {{ level }}. Schulstufe
 </button>
</div>


<div class="container mt-5">
  <form [formGroup]="questionCreationForm" (submit)="submitQuestionCreationForm()">
    <h2 class="text-center mb-4">Frage erstellen</h2>
      <div class="mb-3 row">
        <label for="chooseSubject" class="col-sm-2 col-form-label">Wähle das Fach</label>
        <div class="col-sm-10">
          <select id="subject" (change)="onSubjectChange($event)" formControlName="subject">
            <option *ngFor="let subject of subjects" [value]="subject.id">{{ subject.name }}</option>
          </select>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="chooseTopic" class="col-sm-2 col-form-label">Wähle das Thema</label>
        <div class="col-sm-10">
          <select class="form-select" id="chooseTopic" formControlName="topic">
            <option selected>Wähle das Thema</option>
            <option *ngFor="let topic of subjectsTopics" [value]="topic.id">{{ topic.description }}</option>
          </select>
        </div>
      </div>

      <div class="mb-3 row">
        <!-- <label for="questionText" class="col-sm-2 col-form-label">Fragestellung:</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="questionText" formControlName="questionText" rows="3" placeholder="Fragestellung.." ></textarea>
        </div> -->
          <div class="NgxEditor__Wrapper">
            <ngx-editor-menu [editor]="editor"></ngx-editor-menu>
            <ngx-editor [editor]="editor" [ngModel]="html" (ngModelChange)="onChange($event)" [placeholder]="'Type here...'"></ngx-editor>
          </div>
      </div>
      <!-- <div class="mb-3 row">
        <label for="questionNote" class="col-sm-2 col-form-label">Hinweis zur Fragestellung:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="questionNote" formControlName="questionNote" placeholder="Hinweis für den Schüler.." >
        </div>
      </div> -->
      <div class="mb-3 row">
        <label for="answer" class="col-sm-2 col-form-label">Antwort:</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="answer" rows="3" formControlName="answer" placeholder="Antwort.."></textarea>
        </div>
      </div>
      <!-- <div class="mb-3 row">
        <label for="answerNote" class="col-sm-2 col-form-label">Hinweis zur Antwort:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="answerNote" formControlName="answerNote" placeholder="Hinweis für den Lehrer.." >
        </div>
      </div> -->
      <div class="mb-3 row">
        <label for="chooseDifficulty" class="col-sm-2 col-form-label">Schwierigkeitsgrad der Frage:</label>
        <div class="col-sm-10">
          <select class="form-select" id="chooseDifficulty" formControlName="difficultyLevel">
            <option selected>Wähle den Schwierigkeitsgrad</option>
            <option *ngFor="let difficulty of difficultyLevels" [value]="difficulty.id">{{ difficulty.description }}</option>
          </select>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="questionIsPrivate" class="col-sm-2 col-form-label">Frage soll nur für mich gespeichert werden:</label>
        <div class="col-sm-10 d-flex align-items-center">
          <input type="checkbox" class="form-check-input ms-2" id="questionIsPrivate" formControlName="questionIsPrivate">
        </div>
      </div>
      <!-- <div class="mb-3 row">
        <label for="questionIsSpecific" class="col-sm-2 col-form-label">Frage ist berufsrelevant:</label>
        <div class="col-sm-10 d-flex align-items-center">
          <input type="checkbox" class="form-check-input ms-2" id="questionIsSpecific" formControlName="questionIsSpecific">
        </div>
      </div> -->
      <div class="d-flex justify-content-end">
        <button type="reset" class="btn btn-secondary me-2">Discard</button>
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  