<div class="container mt-5">
    <h2 class="text-center mb-4">Create Question</h2>
    <form [formGroup]="questionCreationForm" (submit)="submitQuestionCreationForm()">
      <div class="mb-3 row">
        <label for="content" class="col-sm-2 col-form-label">Question:</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="content" rows="3" placeholder="Enter question" formControlName="content"></textarea>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="question-only-for-mee" class="col-sm-2 col-form-label">Question only for me:</label>
        <div class="col-sm-10 d-flex align-items-center">
          <input type="checkbox" class="form-check-input ms-2" id="question-only-for-me" formControlName="questionOnlyForMe">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="answer" class="col-sm-2 col-form-label">Answer:</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="answer" rows="3" formControlName="answer" placeholder="Enter answer"></textarea>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button type="reset" class="btn btn-secondary me-2">Discard</button>
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
    <!-- <form>
      
      
      
      <div class="mb-3 row">
        <label for="chooseClass" class="col-sm-2 col-form-label">Choose class:</label>
        <div class="col-sm-10">
          <select class="form-select" id="chooseClass">
            <option selected>My class</option>
            <option value="1">Class 1</option>
            <option value="2">Class 2</option>
            <option value="3">Class 3</option>
          </select>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="answer" class="col-sm-2 col-form-label">Answer:</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="answer" rows="3" placeholder="Enter answer"></textarea>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="chooseDifficulty" class="col-sm-2 col-form-label">Choose difficulty:</label>
        <div class="col-sm-10">
          <select class="form-select" id="chooseDifficulty">
            <option selected>Easy</option>
            <option value="1">Medium</option>
            <option value="2">Hard</option>
          </select>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button type="reset" class="btn btn-secondary me-2">Discard</button>
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form> -->
  </div>
  