<div class="container-fluid d-flex flex-column justify-content-center align-items-center vh-100">

    <div class="text-center mb-3">
       <h5>
           Hinsweis: die Datenbank auf Azure hat am Anfang Timeout Exception. Probiere bitte tortz Fehlermeldung 4 Mal dich anzumelden. Beim 5. Mal klappt es bestimmt.
       </h5>
    </div>
    <div class="card p-5">
        <h3 class="text-center">Login</h3>
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" required [(ngModel)]="teacher.email" name="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" required [(ngModel)]="teacher.password" name="password">
            </div>
            <button type="submit" [disabled]="isSubmitting" class="btn btn-primary btn-block">Submit</button>
            <div *ngIf="errorMessage" class="alert alert-danger mt-2">{{ errorMessage }}</div>
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>