<div class="container-fluid">
    <div class="row">
      <div class="col-md-3 sidebar">
        <app-filter-formular (search)="submitSearch($event)"></app-filter-formular>
      </div>
      <div class="col-md-9 content">
        <app-question-list [questions]="publicQuestions" (showFolders)="showFoldersList($event)" (hideQuestionEvent)="showHideQuestionPopUp($event)" [isCreationFolder]="true"></app-question-list>
      </div>

    <app-folders-popup
      [folders]="Folders"
      [popupTop]="popupTop"
      [popupLeft]="popupLeft"
      [questionId]="selectedQuestionId"
      [showFolderList]="showFolderList"
      (save)="saveQuestion($event)"
      (close)="showFolderList = false"
    ></app-folders-popup>
<app-hide-question-popup 
  [popupTop]="popupTop"
  [popupLeft]="popupLeft"
  [showHideConfirm]="showHideConfirm"
  (hide)="hideQuestion()">
</app-hide-question-popup>
  </div>
</div>
