.outer-border {
    border: 1px solid #ccc; /* Border-Stil und -Farbe anpassen */
    border-radius: 10px; /* Abgerundete Ecken */
    padding: 15px; /* Innenabstand für den Inhalt */
    background-color: white;
}
.vertical-line {
    border-left: 1px solid #ccc;
    height: 100%;
}