/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;    background-color: #EEF7FF; }

/* Hintergrundfarbe und Textfarbe für Fehlermeldung */
.error-snackbar {
  background-color: #f44336 !important;
  color: #fff !important;
}

.success-snackbar {
  background-color: #4caf50 !important;
  color: #fff !important;
}


.circle-btn {
  display: inline-block;
  width: 40px; /* Beispiel: Breite erhöht auf 40px */
  height: 40px; /* Beispiel: Höhe erhöht auf 40px */
  background-color: #ccc;
  border-radius: 50%;
  text-align: center;
  line-height: 40px; /* Vertikal zentrieren */
}

.circle-btn i {
  color: white;
  font-size: 20px; /* Beispiel: Größe des Icons im Kreis */
}

.popup-folder-list, .popup-hide-question{
  position: fixed;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
