<div class="container">
    <div class="row centered">
        <div class="col-md-6 d-flex flex-column justify-content-center align-items-center text-center">
            <h1>Übungskasten</h1>
            <h2>
                Ein Ort des Treffens von Lehrern auf sinnvollen LZK-Fragen
            </h2>
        </div>
        <div class="col-md-5">
            <img src="../../../assets/first.png" alt="Bild, das die Zusammenarbeit von Lehrern zeigt">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-5">
            <img src="../../../assets/second.png" alt="Bild, das die Zusammenarbeit von Lehrern zeigt">
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center align-items-center text-center">
            <h2>
                Finde die passenden Fragen für deine Schüler und erstelle deine eigene Übungskasten.
            </h2>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-center align-items-center text-center">
            <h2>
                Es ist ein Nehmen und Geben. Teile deine LZK-Fragen mit anderen Lehrern und profitiere von deren
                Erfahrungen.
            </h2>
        </div>
        <div class="col-md-5">
            <img src="../../../assets/third.png" alt="Bild, das die Zusammenarbeit von Lehrern zeigt">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-5">
            <img src="../../../assets/fourth.png" alt="Bild, das die Zusammenarbeit von Lehrern zeigt">
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center align-items-center text-center">
            <h2>
                Konzentriere dich auf das Wesentliche, und wir übernehmen das Mühsame:
                Wir erstellen kreative Arbeitsblätter für den Unterricht
                – zielgerecht und zeitsparend.
            </h2>
        </div>
    </div>
    <hr>
</div>