body {
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: #666;
    margin-bottom: 20px;
    max-width: 800px;
}
.container {
    margin-top: 50px;
}
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
.row {
    margin-bottom: 50px;
}
img {
    width: 100%;
    height: auto;
}