<div class="container">
    <div class="row"></div>
    <div class="row">
        <select class="form-select form-select-sm" [(ngModel)]="selectedSubject" (ngModelChange)="onSubjectChange()">
            <option *ngFor="let subject of Subjects" [ngValue]="subject">{{ subject.name }}</option>
        </select>
    </div>
    <div class="row" style="margin-top: 2%;">
        <div class="col-10">
            <select class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="selectedFolder" (ngModelChange)="onFolderChange()">
                <option *ngFor="let folder of DisplayedFolders" [ngValue]="folder">{{ folder.name }}</option>
            </select>
        </div>
        <div class="col-2">
            <button class="btn btn-primary" (click)="openNewFolderModal(newFolder)">Neuer Ordner</button>
        </div>
    </div>
   
    <div class="row" *ngIf="selectedFolder">
        <app-profile-question-list *ngIf="selectedFolder.Questions !== undefined"
                                   [questions]="selectedFolder.Questions"
                                   (showFolders)="showFoldersList($event)"
                              
                                   [selectedFolderName]="selectedFolder.name"
                                   >
        </app-profile-question-list>
    </div>

    <app-folders-popup
        [folders]="Folders"
        [popupTop]="popupTop"
        [popupLeft]="popupLeft"
        [questionId]="selectedQuestionId"
        [showFolderList]="showFolderList"
        (save)="saveQuestion($event)"
        (close)="showFolderList = false">
    </app-folders-popup>
</div>

<ng-template #newFolder let-modal>
    <div class="container" style="padding: 5%; background-color: #EEF7FF; border-radius: 10px;">
        <div class="row" style="margin-bottom: 3%;">
            <input type="text" class="form-control" placeholder="Ordnername" [(ngModel)]="folderName">
        </div>
        <div class="row" style="margin-bottom: 3%;">
            <select class="form-select form-select-sm" [(ngModel)]="selectedSubjectforNewFolder">
                <option *ngFor="let subject of Subjects" [ngValue]="subject">{{ subject.name }}</option>
            </select>
        </div>
        <div class="row d-flex justify-content-right">
            <button class="btn btn-primary" style="float: right; background-color: #4D869C;" (click)="onFolderSubmit()">Speichern</button>
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger mt-2" style="margin-top: 3%;">{{ errorMessage }}</div>
    </div>
</ng-template>
