<div class="container mt-5">
    <div class=" mt-5">
        <app-personal-data></app-personal-data>
    </div>
    <hr>
    <div class="box mb-5">
        <div class="row text-center">
            <h3>Meine gespeicherten Fragen</h3>
        </div>
        <div class="row">
            <div class="col-md-6">
                <select class="form-select form-select-sm" [(ngModel)]="selectedSubject" (ngModelChange)="onSubjectChange()">
                    <option *ngFor="let subject of Subjects" [ngValue]="subject">{{ subject.name }}</option>
                </select>
            </div>
            <div class="col-md-6">
                <select class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="selectedFolder" (ngModelChange)="onFolderChange()">
                    <option *ngFor="let folder of DisplayedFolders" [ngValue]="folder">{{ folder.name }}</option>
                </select>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12 d-flex justify-content-end">
                <button class="btn btn-primary" (click)="openNewFolderModal(newFolder)">Neuer Ordner</button>
            </div>
        </div>
        <div class="row mt-3" *ngIf="selectedFolder">
            <app-profile-question-list *ngIf="selectedFolder.Questions !== undefined"
                                       [questions]="selectedFolder.Questions"
                                       (showFolders)="showFoldersList($event)"
                                       (showRemoveQuestionConfirm)="showRemoveQuestionConfirm($event)"
                                       [selectedFolderName]="selectedFolder.name">
            </app-profile-question-list>
        </div>
    </div>


    <app-folders-popup
        [folders]="Folders"
        [popupTop]="popupTop"
        [popupLeft]="popupLeft"
        [questionId]="selectedQuestionId"
        [showFolderList]="showFolderList"
        (save)="saveQuestion($event)"
        (close)="showFolderList = false">
    </app-folders-popup>

    <app-remove-question-popup [popupTop]="popupTop"
                               [popupLeft]="popupLeft"
                               [showRemoveConfirm]="showRemoveConfirm"
                               (remove)="removeSavedQuestionFromFolder()">
    </app-remove-question-popup>
</div>

<ng-template #newFolder let-modal>
    <div class="container" style="padding: 5%; background-color: #EEF7FF; border-radius: 10px;">
        <div class="row">
            <h4>Neuen Ordner für Fach anlegen</h4>
        </div>
        <div class="row" style="margin-bottom: 3%;">
            <input type="text" class="form-control" placeholder="Ordnername" [(ngModel)]="folderName">
        </div>
        <div class="row" style="margin-bottom: 3%;">
            <select class="form-select form-select-sm" [(ngModel)]="selectedSubjectforNewFolder">
                <option *ngFor="let subject of Subjects" [ngValue]="subject">{{ subject.name }}</option>
            </select>
        </div>
        <div class="row d-flex justify-content-end">
            <button class="btn btn-primary" style="background-color: #4D869C;" (click)="onFolderSubmit()">Speichern</button>
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger mt-2" style="margin-top: 3%;">{{ errorMessage }}</div>
    </div>
</ng-template>
